<footer>
    <div class="container">
        <div class="row">
        	<div class="col-sm-12 buy-prompt">
        		<p>Buy online and in the Foot Care Aisle<br>at the following retailers:</p>
        	</div>
        </div>
        <div class="row">
        	<div class="col-sm-4"><a href=""><img src="" alt=""></a></div>
        	<div class="col-sm-4"><a href=""><img src="" alt=""></a></div>
        	<div class="col-sm-4"><a href=""><img src="" alt=""></a></div>
        </div>
        <div class="row">
        	<div class="col-sm-6"><a href=""><img src="" alt=""></a></div>
        	<div class="col-sm-6"><a href=""><img src="" alt=""></a></div>
        </div>
    </div>
</footer>
